<!--<% provide(:title, "Home") %>-->
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>
  
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<!--引数に画像ファイルのパスと任意のオプションハッシュをとるimage_tagヘルパーの能力が示されている-->
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<!--<%= link_to image_tag("kitten.jpg", alt: "home image") %> -->
>>>>>>> filling-in-layout
