<!--ページ上部の要素 3つのCSSクラスを与えている-->
<!--navbarクラスはBoostrapで特別な意味を持つ-->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!--埋め込みRailsコード-->
    <!--Railsヘルパーの link_to 第一引数:リンクテキスト, 第二引数:URL('#でダミー'), 第三引数:オプションハッシュ CSS id logoを指定-->
    <%= link_to "sample app", root_path, id: "logo" %>
    <!--navタグはその内側がナビゲーションリンクであることを意図している -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",  help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>