<%= csrf_meta_tags %>
<!--第一引数の'application'はスタイルシートへのパス、最後の引数のハッシュの{}は省略される-->
<!--第二引数のハッシュ値はメディアタイプ要素とturbolinks機能をオンにする要素から構成されている-->
<%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %> 
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>