<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <!--partialの表現(app/views/layouts/_hogehogeファイル)-->
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <!--'render' Railsヘルパー呼び出し-->
    <%= render 'layouts/header' %>
    <!--メインコンテンツ用のdiv-->
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
